@model TravelBook.Web.ViewModels.ArticleViewModels.EditArticleViewModel

@{
    ViewBag.Title = "Edit article";
}

<h2>Edit article</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Articles" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="margin-bottom:20px;">
                <input asp-for="TravelId" hidden="hidden"/>
                <input asp-for="Id" hidden="hidden"/>
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group" id="editor">
                <textarea asp-for="Text" class="form-control"></textarea>
            </div>
            <div style="margin-top:10px;">
                <button type="submit">Save</button>
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Back to articles", nameof(ArticlesController.TravelArticles),
                                         nameof(ArticlesController).CutController(),
                                         new { travelId=Model.TravelId })
</div>

@section Scripts {
    <script src="https://cdn.ckeditor.com/ckeditor5/35.0.1/classic/ckeditor.js"></script>
    <script>
        window.onload = function() {
            ClassicEditor
                .create( document.querySelector("#@Html.IdFor(m => m.Text)") )
                .catch( error => {
                    console.error( error );
                } );
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
