@using TravelBook.Web.ViewModels.ArticleViewModels

@model ArticleViewModel

@{
    ViewBag.Title = Model.Title;
}

<article class="box post post-excerpt">
	<header>
		<h2><a href="#">@Model.Title</a></h2>
		<p>Travel place: @Model.Place</p>
	</header>
	<p>
		@Model.Text
	</p>
	<p>
		@Html.ActionLink("Show more...", "FullArticle", "Articles", new { id=Model.Id })
	</p>
</article>
