@using TravelBook.Web.ViewModels.ArticleViewModels

@model IEnumerable<ArticleViewModel>

@{
    ViewBag.Title = "Travel articles";
}

@foreach(ArticleViewModel item in Model){
	<article class="box post post-excerpt">
		<header>
			<h2><a href="#">@item.Title</a></h2>
			<p>Travel place: @item.Place</p>
		</header>
		<p>
			@item.Text.Substring(0, 480)		
		</p>
		<p>
			@Html.ActionLink("Show more...", "FullArticle", "Articles", new { articleId=item.Id })
		</p>
	</article>
}