@using Microsoft.AspNetCore.Identity

@inject UserManager<IdentityUser> UserManager
@{
    var usr = await UserManager.GetUserAsync(User);
    var email = usr?.Email;
}

<div id="sidebar">

	<!-- Logo -->
		<h1 id="logo"><a href="#">Travel Book</a></h1>
		@if(email != null){
			<div style="text-align:center; margin-top:10px;">
				<h4>Hello! - 
					<a asp-action="AboutMe" asp-controller="Account">@email</a>
				</h4>
			</div>
		}

	<!-- Nav -->
	<nav id="nav">
		@if(email != null)
		{
			<ul>
				<li class="current"><a asp-action="All" asp-controller="Travels">My Travels</a></li>
				<li><a asp-action="Notes" asp-controller="Travels">My Articles</a></li>
				<li><a asp-action="All" asp-controller="PhotoAlbums">My Photoalbums</a></li>
			</ul>
		}
		else
		{
			<ul>
				<li class="current"><a asp-action="Travels" asp-controller="Travel">Login</a></li>
				<li><a asp-action="Notes" asp-controller="Travel">About Travel Book</a></li>
			</ul>			
		}
	</nav>

	<!-- Search -->
		<section class="box search">
			<form method="post" action="#">
				<input type="text" class="text" name="search" placeholder="Search" />
			</form>
		</section>

	<!-- Recent Posts -->
	@await Html.PartialAsync("RecentPostsPartial")

	<!-- Copyright -->
		<ul id="copyright">
			<li>&copy; Untitled.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>

</div>
