@using TravelBook.Web.Controllers
@using TravelBook.Web.Service

@{
    ViewBag.Title = "Create album";
}

<h2>Create new photoalbum</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="PhotoAlbums" method="post">
            <div class="form-group">
                <label class="form-label">Сome up with an interesting title for the album: </label>
                <input name="title" class="form-control" />
                <input hidden="hidden" name="travelId" value="@ViewBag.TravelId" />
            </div>
            <div style="margin-top:10px;">
                <p>
                    <input type="submit" value="Create" class="btn btn-primary" />
                </p>
            </div>
        </form>
        <div>
            <p>
                <a href="@ViewBag.returnUrl">Back to albums</a>
            </p>
        </div>
    </div>
</div>
